.RcmndtnsCard {
    width: 264px;
    height: 426px;
    /* width: 17%;
    height: 70%;background-color: purple; */
    background: #FFFFFF;
    box-shadow: 0px 9px 26px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
    overflow: hidden;
    flex-shrink: 0;
}

.RcmndtnsCard img {
    width: 100%;
    /* height: 257.58px; */
    left: 222px;
    border-radius: 30px;
}

.RcCardEl1 span {
    width: 115.64px;
    height: 34.86px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #3187ED;
}

.RcEl21 {
    width: 50.01px;
    height: 23.24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8D8D8D;
    text-decoration: line-through;
}

.RcEl22 span {
    width: 50.01px;
    height: 23.24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8D8D8D;
  

}

.RcEl22 {
    display: flex;
}

.RcEl2 {
    display: flex;
    justify-content: space-between;
}

.Rcdiv {
    width: 100%;
}

.Rcdiv span {
    width: 100%;
    height: 42px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    word-break: break-all;
    color: #000000;
}

.Rc2 {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
}

@media(max-width:1366px) {
    .RcmndtnsCard {
        width: calc(264px*.71);
        height: calc(426px*.71);
        box-shadow: 0px calc(9px*.71) calc(26px*.71) rgba(0, 0, 0, 0.06);
        border-radius: calc(30px*.71);
    }

    .RcCardEl1 span {
        width: calc(115.64px*.71);
        height: calc(34.86px*.71);
        /* font-weight: 600; */
        font-size: calc(24px*.71);
        line-height: calc(36px*.71);
    }
    .RcmndtnsCard img {
        width: 100%;
        /* height: calc(257px*.71); */
        left:calc(222px*.71);
        border-radius: calc(30px*.71);
    }
    .RcEl21 {
        width: calc(50px*.71);
        height: calc(23.24px*.71);
        /* font-weight: 400; */
        font-size: calc(16px*.71);
        line-height: calc(24px*.71);
    }

    .RcEl22 span {
        width: calc(50px*.71);
        height: calc(23px*.71);
        /* font-weight: 400; */
        font-size: calc(16px*.71);
        line-height: calc(24px*.71);
    }

    .Rcdiv span {
        height: calc(42px*.71);
        /* font-weight: 400; */
        font-size: calc(16px*.71);
        line-height: calc(24px*.71);
    }

    .Rc2 {
        padding: calc(1.5em*.71);
    }
}