/* body {
    font-family: 'Poppins', sans-serif;
} */
*{
    user-select: none;
}
.sctn1Mn {
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
}

.sctn1 {
    width: 88%;
    padding-top: 2em;
    padding-bottom: 2em;
}

.sctn1Tp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sctn1Tp .sctn1Lft {
    width: 238px;
    height: 45px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #000000;

}

.sctn1Rght {
    width: 238px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    text-align: right;

    color: #3187ED;
}

.sctn1Prdcts {
    display: flex;
    gap: 2.5em;
    flex-wrap: wrap;
    padding:2em;
    padding-top: 3em;
    padding-bottom: 3em;
    overflow: hidden;
}
@media(max-width:1366px){

    .sctn1Tp .sctn1Lft {
        width: calc(238px*.71) ;
        height: calc(45px*.71) ;
        /* font-weight: calc(600*.71) ; */
        font-size: calc(30px*.71) ;
        line-height: calc(45px*.71) ;
    }
    
    .sctn1Rght {
        width: calc(238px*.71) ;
        height: calc(30px*.71) ;
        /* font-weight: 600; */
        font-size: calc(20px*.71) ;
        line-height: calc(30px*.71) ;
    }
    
    .sctn1Prdcts {
        gap: calc(2.5em*.71) ;
        padding:calc(2em*.71) ;
        padding-top: calc(2.5em*.71) ;
    }
    .sctn1 {
        padding-top: calc(2em*.71) ;
        padding-bottom: calc(2em*.71) ;
    }
}
/* for mobile */
@media(max-width:500px){

    .sctn1Tp .sctn1Lft {
        /* width: calc(238px*.26) ;
        height: calc(45px*.26) ; */
        /* font-weight: calc(600*.26) ; */
        /* font-size: calc(30px*.26) ;
        line-height: calc(45px*.26) ; */
    }
    .sctn1Tp span{
        white-space: nowrap;

    }
    .sctn1Rght {
        /* width: calc(238px*.26) ;
        height: calc(30px*.26) ; */
        /* font-weight: 600; */
        /* font-size: calc(20px*.26) ;
        line-height: calc(30px*.26) ; */
    }
    
    .sctn1Prdcts {
        /* gap: calc(2.5em*.26) ;
        padding:calc(2em*.26) ;
        padding-top: calc(2.5em*.26) ; */
        flex-wrap: nowrap;
        overflow: scroll;
        gap: 2em;
        scroll-snap-type: X mandatory;
       
    }
    .sctn1Card{
        scroll-snap-align:center;
    }
    .sctn1 {
        padding-top: calc(2em*.26) ;
        padding-bottom: calc(2em*.26) ;
    }
}

