.nvOptMain {
    width: 100vw;
    height: 61px;
    background: #FFFFFF;
    box-shadow: 0px 20px 39px rgba(0, 0, 0, 0.03);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nvOptns {
    width: 88%;
    gap: 5em;
}

.nvOptns,
.nvCtgrs {
    display: flex;
    gap: 1em;
    align-items: center;
}



.nvCtgrs span {
    width: 102px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #4D4D4D;
    white-space: nowrap;
}

.nvCtgrOptns span {
    /* width: 47px; */
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #4D4D4D;
    
}
.nvCtgrOptns {
    display: flex;
    align-items: center;
    gap: 1em;
}
@media(max-width:1366px){
    .nvOptMain {
        height: calc(61px*.71) ;
        box-shadow: 0px calc(20px*.71)  calc(20px*.71) rgba(0, 0, 0, 0.03);
    }
    
    .nvOptns {
        gap: calc(5em*.71) ;
    }
 
    .nvCtgrs span {
        width: calc(102px*.71) ;
        height: calc(24px*.71) ;
        font-weight: calc(400*.71) ;
        font-size: calc(16px*.71) ;
        line-height:calc(24px*.71) ;
    }
    
    .nvCtgrOptns span {
        height: calc(24px*.71) ;
        font-weight: calc(400*.71) ;
        font-size: calc(16px*.71) ;
        line-height: calc(24px*.71) ;
        
    }
    .nvCtgrOptns {
        gap: calc(1em*.71) ;
    }
}