.sctn2CardMain {
    width: 348px;
    height: 466px;
    background: #FFFFFF;
    box-shadow: 0px 9px 26px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
}

.sctn2CardMain img {
    width: 348px;
    height: 314px;
    border-radius: 30px;
}

.sctn2CardEl2Mn {
    height: 30%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sctn2CardEl2 span {
    /* display: block; */
    width: 183px;
    height: 480px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.sctn2CardEl31 {
    width: 98px;
    height: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #00C6D7;

}

.sctn2CardEl32 {
    display: flex;
    gap: .4em;
}

.sctn2CardEl3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width:1366px) {
    .sctn2CardMain {
        width: calc(348px*.71) ;
        height: calc(466px*.71) ;
        border-radius: calc(30px*.71) ;
    }

    .sctn2CardMain img {
        width: calc(348px*.71) ;
        height: calc(314px*.71) ;
        border-radius: calc(30px*.71) ;
    }

    .sctn2CardEl2 span {
        /* display: block; */
        width: calc(183px*.71) ;
        height: calc(480px*.71) ;
        /* font-weight: 400; */
        font-size: calc(16px*.71) ;
        line-height: calc(24px*.71) ;
    }

    .sctn2CardEl31 {
        width: calc(98px*.71) ;
        height: calc(36px*.71) ;
        /* font-weight: 600; */
        font-size: calc(24px*.71) ;
        line-height: calc(36px*.71) ;
    }

    .sctn2CardEl32 {
        gap: calc(.4em*.71) ;
    }
}