.rscntVwsMn {
    display: flex;
    justify-content: center;

}

.rscntVws {
    width: 88%;
    padding-top: 2em;
    padding-bottom: 2em;
}
.rscntVwsArrowLft,.rscntVwsArrowRgt {
    width: 11.19px;
    height: 11.19px;
    border-top: 4px solid #8D8D8D;
    border-right: 4px solid #8D8D8D;
    transform: rotate(-135deg);
}

.rscntVwsArrowRgt {
    transform: rotate(45deg);
    border-top: 4px solid #3187ED;
    border-right: 4px solid #3187ED;

}
.rscntVwsArrowMn{
    display: flex;
    gap: 5em;
}
.Rmvwrap{
    flex-wrap: nowrap;
}
@media(max-width:1366px) {
    .rscntVws {
        padding-top: calc(2em*.71);
        padding-bottom: calc(2em*.71);
    }
    .rscntVwsArrowLft,.rscntVwsArrowRgt {
        width: calc(11.19px*.71);
        height: calc(11.19px*.71);
        border-top: calc(4px*.71) solid #8D8D8D;
        border-right: calc(4px*.71) solid #8D8D8D;
    }
    
    .rscntVwsArrowRgt {
        border-top: calc(4px*.71)solid #3187ED;
        border-right: calc(4px*.71) solid #3187ED;
    
    }
    .rscntVwsArrowMn{
        gap: calc(5em*.71)
    }
}
/* for mobile */
@media(max-width:500px) {
    .rscntVws {
        padding-top: calc(2em*.26);
        padding-bottom: calc(2em*.26);
    }
    .rscntVwsArrowLft,.rscntVwsArrowRgt {
        width: calc(11.19px*.26);
        height: calc(11.19px*.26);
        border-top: calc(4px*.26) solid #8D8D8D;
        border-right: calc(4px*.26) solid #8D8D8D;
    }
    
    .rscntVwsArrowRgt {
        border-top: calc(4px*.26)solid #3187ED;
        border-right: calc(4px*.26) solid #3187ED;
    
    }
    .rscntVwsArrowMn{
        gap: calc(5em*.26)
    }
}